/* Importamos la fuente directamente desde los servidores de Google */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/* Aplicamos la fuente a absolutamente todo el proyecto */
/* La '*' selecciona todos los elementos */

:root {
    --color-fondo: #FFF0E5; 
    --color-texto: #172b4d;
    --color-sombra-botones: 00000026;
}

* {
    /* Resetear los márgenes y rellenos */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

button{
    font-weight: bold;
    /* Preparar para el hover */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover{
    /* Levantamos el botón al pasar el mouse */
    transform: translateY(-3px);
    /* Le agregamos una sombra */
    box-shadow: 0 6px 12px var(--color-sombra-botones);
}